{% extends "base.html" %}
  {% block main %}
  <div class="container-xl py-2 post_border my-2">
    <div class="mb-3">
      <form method="POST" action="/post" enctype="multipart/form-data">
      <label for="exampleFormControlTextarea1" class="form-label">Write your Post...</label>
      <input class="form-control" type="text" name="title" placeholder="Title" aria-label="Title example">
      <textarea class="form-control my-2" name="post" id="exampleFormControlTextarea1" rows="3"></textarea>
      <dl>
        <p>
          <input type="file" name="file" autocomplete="off">
        </p>
      </dl>
      <button class="btn btn-outline-success" type="submit">Post</button>
    </form>
    </div>
  </div>
  
  {% for post, like, user_like in posts %}
  <div class="container-lg px-4 py-4 post_border my-4">
  <div class="mb-3">
  <p>#{{post.post_id}} {{post.name}}</p>
  <center class="post_border"><h3>{{post.title}}</h3></center>
  {% if post.image %}
  <center class="post_border my-2"><img src="static/{{post.image}}" width="640" height="360"></center>
  {% endif %}
  <center class="post_border my-2">{{post.post}}</center>
  <p>{{post.time}}</p>
  {% if user_like %}
  <button type="button" class="btn btn-outline-primary"><a href="/unlike-action/{{post.post_id}}">unLike</a> <span class="badge bg-secondary">{{like}}</span></button>
  {% else %}
  <button type="button" class="btn btn-outline-success"><a href="/like-action/{{post.post_id}}">Like</a> <span class="badge bg-secondary">{{like}}</span></button>
  {% endif %}
  </div>
  </div>
  {% endfor %}


  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  {% endblock %} 