{% extends "base.html" %}
  {% block main %}
  <div class="container-xl py-2 post_border my-2">
    <div class="mb-3">
      <form method="POST" action="/post" enctype="multipart/form-data">
      <label for="exampleFormControlTextarea1" class="form-label">Write your Post...</label>
      <input class="form-control" type="text" name="title" placeholder="Title" aria-label="Title example">
      <textarea class="form-control my-2" name="post" id="exampleFormControlTextarea1" rows="3"></textarea>
      <dl>
        <p>
          <input type="file" name="file" autocomplete="off">
        </p>
      </dl>
      <button class="btn btn-outline-success" type="submit">Post</button>
    </form>
    </div>
  </div>
   
  <div class="container-lg px-4 py-4 post_border my-4">
  <div class="mb-3">
  <p>Post Id</p>
  <center class="post_border">Title</center>
  <center class="post_border my-2"><img src="static/temp.jpg"></center>
  <center class="post_border my-2">Post in full length text</center>
  <p>Time Stamp</p>
  </div>
  </div>
  <div class="container-lg px-4 py-4 post_border my-2">
    <div class="mb-3">
    <p>Post Id</p>
    <center class="post_border">Title</center>
    <center class="post_border my-2">Post in full length text. If your customers are in the habit of missing their appointments, it’s probably because they’re not getting the reminders at the right time. Why not help them out and send the reminder as a text message. Remember, 95% of people read their text messages within the first three minutes of receipt.The text should contain important information, such as appointment time and venue. Plus, you can tell the customer what they’ll need for the appointment and include an option to reschedule or cancel. Here are a few helpful templates.</center>
    <p>Time Stamp</p>
    </div>
    </div>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  {% endblock %} 