{% extends "base.html" %}
  {% block main %}
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  </style>

  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">

      <div class="d-flex position-relative">
        <img src="/static/{{user.profile_pic}}" class="flex-shrink-0 me-3" alt="..." width="200" height="200">
        <div>
          <h5 class="mt-0">Name: {{user.name}}</h5>
          <p><b>Bio:</b> {{user.bio}}</p>
          <p><b>Sex:</b> {{user.sex}}</p>
          <p><b>Contact:</b> {{user.contact_no}}</p>
          <p><b>Em@il:</b> {{user.email}}</p>
          {% if follow_check == 'user' %}
          <button type="button" class="btn btn-outline-danger" href="#"><a href="/profile-edit-action/{{id}}">Edit Profile</a></button>
          {% elif follow_check %}
          <button type="button" class="btn btn-outline-danger" href="#"><a href="/unfollow-action/{{id}}">Unfollow</a></button>
          {% else %}
          <button class="btn btn-outline-secondary" type="button"><a href="/follow-action/{{id}}">Follow</a></button>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <p>#{{latest_post.post_id}}</p>
          <h2>{{latest_post.title}}</h2>
          <p>{{latest_post.post}}</p>
          {% if latest_post.image %}
          <center class="post_border my-2"><img src="static/{{latest_post.image}}" width="213" height="120"></center>
          {% endif %}
          <p>{{latest_post.time}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <center><h2>Following/Follower</h2></center>
          <center><h2><a href="follow/{{id}}">{{follower}}/{{follow}}</a></h2></center>
          <center><h2>No of Post</h2></center>
          <center><h2><a href="/blog/{{id}}">{{post}}</a></h2></center>
        </div>
      </div>
    </div>
  </div>
  {% endblock %} 